:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom left, #eb1e1e, #6e0a0a) fixed;
  background-size: cover; 
  background-repeat: no-repeat; 
}
